*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.wrapper{
    width: 30%;
    height: 350px;
    margin: 0 auto;
    margin-top: 3em;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    

}
header{
    margin: 0 auto;
    padding-top: 10px;
}
.wrapper_form{
    height: 100%;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 2em;
}
.inputs{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}
input{
    border-radius: 5px;
    border: 0.5px solid;
    height: 40px;
}
.inputs_text{
    padding-left: 10px;
    font-size: 18px;
    height: 35px;
}
.sub_cadastrar{
    background-color: #7ad97a;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 80%;
    margin: 0 auto;
}